Cliente/Cliente/Web References/Sonda/Sonda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://master" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://master" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://master">
      <xs:element name="getFechaActual">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="validacion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFechaActualResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creaUsuario">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="validacion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVolumen">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="validacion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVolumenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLed">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="validacion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setLed">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="nuevoValorEncriptado" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="validacion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setLedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUltimaFecha">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="validacion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUltimaFechaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getVolumenRequest">
    <wsdl:part name="parameters" element="ns:getVolumen" />
  </wsdl:message>
  <wsdl:message name="getVolumenResponse">
    <wsdl:part name="parameters" element="ns:getVolumenResponse" />
  </wsdl:message>
  <wsdl:message name="getFechaActualRequest">
    <wsdl:part name="parameters" element="ns:getFechaActual" />
  </wsdl:message>
  <wsdl:message name="getFechaActualResponse">
    <wsdl:part name="parameters" element="ns:getFechaActualResponse" />
  </wsdl:message>
  <wsdl:message name="creaUsuarioRequest">
    <wsdl:part name="parameters" element="ns:creaUsuario" />
  </wsdl:message>
  <wsdl:message name="setLedRequest">
    <wsdl:part name="parameters" element="ns:setLed" />
  </wsdl:message>
  <wsdl:message name="setLedResponse">
    <wsdl:part name="parameters" element="ns:setLedResponse" />
  </wsdl:message>
  <wsdl:message name="getUltimaFechaRequest">
    <wsdl:part name="parameters" element="ns:getUltimaFecha" />
  </wsdl:message>
  <wsdl:message name="getUltimaFechaResponse">
    <wsdl:part name="parameters" element="ns:getUltimaFechaResponse" />
  </wsdl:message>
  <wsdl:message name="getLedRequest">
    <wsdl:part name="parameters" element="ns:getLed" />
  </wsdl:message>
  <wsdl:message name="getLedResponse">
    <wsdl:part name="parameters" element="ns:getLedResponse" />
  </wsdl:message>
  <wsdl:portType name="SondaPortType">
    <wsdl:operation name="getVolumen">
      <wsdl:input wsaw:Action="urn:getVolumen" message="ns:getVolumenRequest" />
      <wsdl:output wsaw:Action="urn:getVolumenResponse" message="ns:getVolumenResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFechaActual">
      <wsdl:input wsaw:Action="urn:getFechaActual" message="ns:getFechaActualRequest" />
      <wsdl:output wsaw:Action="urn:getFechaActualResponse" message="ns:getFechaActualResponse" />
    </wsdl:operation>
    <wsdl:operation name="creaUsuario">
      <wsdl:input wsaw:Action="urn:creaUsuario" message="ns:creaUsuarioRequest" />
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <wsdl:input wsaw:Action="urn:setLed" message="ns:setLedRequest" />
      <wsdl:output wsaw:Action="urn:setLedResponse" message="ns:setLedResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUltimaFecha">
      <wsdl:input wsaw:Action="urn:getUltimaFecha" message="ns:getUltimaFechaRequest" />
      <wsdl:output wsaw:Action="urn:getUltimaFechaResponse" message="ns:getUltimaFechaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <wsdl:input wsaw:Action="urn:getLed" message="ns:getLedRequest" />
      <wsdl:output wsaw:Action="urn:getLedResponse" message="ns:getLedResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SondaSoap11Binding" type="ns:SondaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVolumen">
      <soap:operation soapAction="urn:getVolumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFechaActual">
      <soap:operation soapAction="urn:getFechaActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaUsuario">
      <soap:operation soapAction="urn:creaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <soap:operation soapAction="urn:setLed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimaFecha">
      <soap:operation soapAction="urn:getUltimaFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <soap:operation soapAction="urn:getLed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SondaSoap12Binding" type="ns:SondaPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVolumen">
      <soap12:operation soapAction="urn:getVolumen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFechaActual">
      <soap12:operation soapAction="urn:getFechaActual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaUsuario">
      <soap12:operation soapAction="urn:creaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <soap12:operation soapAction="urn:setLed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimaFecha">
      <soap12:operation soapAction="urn:getUltimaFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <soap12:operation soapAction="urn:getLed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SondaHttpBinding" type="ns:SondaPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getVolumen">
      <http:operation location="getVolumen" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFechaActual">
      <http:operation location="getFechaActual" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaUsuario">
      <http:operation location="creaUsuario" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <http:operation location="setLed" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimaFecha">
      <http:operation location="getUltimaFecha" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <http:operation location="getLed" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sonda">
    <wsdl:port name="SondaHttpSoap11Endpoint" binding="ns:SondaSoap11Binding">
      <soap:address location="http://localhost:8080/Sonda/services/Sonda.SondaHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SondaHttpSoap12Endpoint" binding="ns:SondaSoap12Binding">
      <soap12:address location="http://localhost:8080/Sonda/services/Sonda.SondaHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SondaHttpEndpoint" binding="ns:SondaHttpBinding">
      <http:address location="http://localhost:8080/Sonda/services/Sonda.SondaHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>